html

head
  meta(charset='utf-8')
  title Golden Retriever
  link(rel='stylesheet', href='Semantic-UI-CSS-master/semantic.css')
  link(rel='stylesheet', href='style.css')

body
  .ui.container
    h1 Golden Retriever

    #search-bar.fluid.ui.action.left.icon.input
      i.search.icon
      input(type='text', placeholder='Enter some terms...')
      .ui.button Search

    #results
      each _ in new Array(4)
        .result.ui.padded.segment
          .ui.header Harry Potter
          .ui.mini.breadcrumb
            .section Science-Fiction
            i.right.angle.icon.divider
            .section Universal Writers
            i.right.angle.icon.divider
            .section J.K. Rowling
          .body
            p Alohamora wand elf parchment, Wingardium Leviosa hippogriff, house dementors betrayal. Holly, Snape #[mark centaur] portkey ghost #[mark Hermione] spell bezoar Scabbers. Peruvian-Night-Powder werewolf, Dobby pear-tickle half-moon-glasses, Knight-Bus. Padfoot snargaluff seeker: Hagrid broomstick mischief managed. Snitch Fluffy rock-cake, 9 ¾ dress robes I must not tell lies.
            .ui.horizontal.divider ···
            p Squashy armchairs dirt on your nose brass scales crush the Sopophorous bean with #[mark flat] side of silver dagger, releases juice better than cutting.
            .ui.horizontal.divider ···
            p Half-giant jinxes peg-leg gillywater broken glasses large black dog Great Hall. Nearly-Headless Nick now string them together, and answer me this, which creature would you be unwilling to #[mark kiss]? Poltergeist sticking charm, troll umbrella stand flying cars golden locket Lily Potter.



script(src='jquery-3.1.1.min.js')
script(src='Semantic-UI-CSS-master/semantic.js')
script(src='interface.js')
